---
import BaseLayout from '../layouts/BaseLayout.astro'
import Hero from '../components/Hero.astro'
import About from '../components/About.astro'
import Services from '../components/Services.astro'
import Testimonial from '../components/Testimonial.astro'
import Location from '../components/Location.astro'
import Footer from '../components/Footer.astro'
import WhatsAppButton from '../components/WhatsAppButton.astro'
---

<BaseLayout>
  <main>
    <Hero />
    <Services />
    <About />
    <Testimonial />
    <Location />
    <Footer />
    <WhatsAppButton />
  </main>
</BaseLayout>

